* {
	margin: 5px 10px;
}
.container {
	display: grid;
	grid-template-rows: min-content min-content;
	grid-template-columns: repeat(4, 1fr);
}

.header {
	display: flex;
	grid-row: 1/1;
	background-color: #d1cfe4;
	padding: 5px;
	padding-left: 12px;
	grid-column: 1/-1;
	border: 1px solid #d1cfe4;
}

.header__logo {
	width: 60px;
	height: 60px;
	margin-left: 60px;
	z-index: 100;
}

.header__text {
	flex-grow: 2;
	margin-left: 390px;
	align-self: center;
}

.menubar {
	grid-column: 1 / 1;
	background-color: #ede5e3;
	display: flex;
	flex-direction: column;
	padding: 7px;
}

.page {
	background-color: #d1cfe4;
	height: 80vh;
	grid-row: 2/-1;
	grid-column: 2 / -1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, 1fr);
	padding: 10px;
}

.page__text {
	padding: 20px;
	background-color: #ede5e3;
	grid-column: 1 / 1;
	grid-row: 1/-1;
}

.page__picture {
	background-color: #ccd1d9;
	grid-column: 2 / -1;
	grid-row: 1/-1;
}

.page__picture--img {
	height: 520px;
	width: 400px;
	/* margin-right: -100px; */
}

.page__text-quote {
	font-size: 22px;
}

.page__text-author {
	margin-left: 220px;
	font-size: 14px;
	margin-top: 14px;
}

.page__text-description {
	margin-top: 50px;
	font-weight: 700;
	font-size: 14px;
}

.page__text-aboutus {
	margin-top: 28px;
	font-weight: 500;
	font-size: 14px;
}

.page__heading-aboutus {
	margin-top: 14px;
	font-size: 27px;
}

.btn {
	border: none;
	background-color: #d1cfe4;
	padding: 19px 36px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn__logout {
	margin-top: 190px;
}

.form__fields {
	display: grid;
	grid-template-columns: 0.75fr 2fr;
	background-color: #ccd1d9;
	margin-bottom: 15px;
	padding: 2px;
	align-items: center;
}

.form__fields-msg {
	display: flex;
	flex-direction: column;
	background-color: #ccd1d9;
	margin-bottom: 10px;
	padding: 2px;
	align-items: center;
}

.form__fields-label {
	grid-column: 1 / 1;
}

.form__fields-input {
	grid-column: 2 / -1;
	border: none;
	padding: 6px;
	background-color: white;
}

input:focus,
textarea:focus,
select:focus {
	border: none;
	outline: none;
	text-decoration: none;
}

.form__fields-msg-label {
	align-self: flex-start;
}

.form__fields-msg-input {
	align-self: flex-start;
}

.form-btn {
	background-color: #d1cfe4;
	border: none;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border: outset;
}

button:focus {
	outline: none;
}

.map {
	filter: grayscale(100%);
}

.page__profilebg {
	background-color: #d1cfe4;
	height: 80vh;
	grid-row: 2/-1;
	grid-column: 2 / -1;
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	padding: 10px;
}

.profile {
	background-color: #ede5e3;
	width: inherit;
	height: 78vh;
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: center;
}

.profile__table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	height: 92%;
	width: 95%;
	border: 0.5px solid;
}

td,
th {
	padding-right: 10px;
	padding-left: 8px;
	border: 1px solid;
	text-align: center;
}

thead th {
	text-transform: uppercase;
	padding: 10px;
	font-weight: bolder;
}

tr:nth-child(odd) {
	background-color: #d1cfe4;
}

.loginPage {
	background-color: #d1cfe4;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.login {
	background-color: #dbd7e5;
	display: flex;
	width: 40%;
	height: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login__logo {
	width: 60px;
	height: 60px;
	z-index: 100;
}

.login__btn {
	background-color: #4e4e4e;
	border: 2px outset white;
	align-self: center;
	color: white;
	padding: 6px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	margin-top: 10px;
}

.login__input {
	border: none;
	padding: 18px;
	margin-bottom: 15px;
	width: 97%;
	text-align: center;
	transform: scale(0.8);
	font-size: 18px;
}
